@import './fonts';

:root {
    --bg-primary: #58C4DC;
    --text-primary: #FFFFFF;
}

body {
    font-family: 'OpenSans-Regular';
    color: var(--text-primary);
    background: $bg;
}

.app {
    display: grid;
    align-content: center;
    justify-items: center;
    height: 90vh;
}

.logo {
    aspect-ratio: 1/1;
    width: 10rem;
}
